/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .business a, .for-you a, .about-us a{
        display:block;
        width:100%;
        margin: 10px auto;
    }
    .business a.main-link, .for-you a.main-link, .about-us a.main-link{
        margin-right:auto;
        margin-bottom:20px;
    }
    .circles{
        width:100%;
        height:auto;
    }
    .circles .c1{
        padding:10px 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .for-business{
        margin-top:10px;
    }
    .feedback-slide{
        width:100%;
        position:static;
        font-size:1em;
    }
    .feedback{
        background:none;
        height:auto;
        margin:20px auto;
    }
    .articles .item{
        margin-bottom:20px;
    }
    .blue-bg{
        padding:10% 0;
    }
    .blue-bg a{
        display:block;
        width:100%;
        padding:10px 0;
        margin:20px 0 ;
    }
    .bottom-bg,.blue-bg .logo{
        display:none;
    }
    footer .topline .footer_text .read-more{
        display:block;
        width:100%;
    }
    footer .topline ul{

    }
    footer .topline .company{
        text-align:center;
    }
    footer .topline h3{
        display:none;
    }
    footer .topline ul li a{
        display:block;
        padding:10px;
    }
    footer .topline .dropdown{
        display:block;
        color:#ABC6FC;
        padding:10px 20px;
        margin:10px auto;
        cursor:pointer;
        text-align:center;
        border-bottom:1px solid #214497;
        background:url('../img/arrow-bottom.png') right center no-repeat;
    }

    .circles .c1 .item{
        position:static;
        margin-bottom:20px;
    }
    .circles .c1 .item .img{
        padding:10%;
    }
    .circles .c2{
        display:none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1900px) {
    .first-screen .logo{
        margin:60% auto;
    }
    .first-screen{
        min-height:750px;
    }
}