body{
	font-family:'Roboto', Arial, san-serif;
	font-size:16px;
	background-color: #fff;
}
img{
	width:100%;
	height:auto;
}
.menu1{
	text-align: center;
}
.menu1 ul{
	margin-bottom:0;
}
.menu1 ul li{
	display:inline-block;
}
.menu1 ul li a{
	display:block;
	padding:30px;
	text-transform:uppercase;
	font-weight:500;
	height:auto;
	text-decoration: none;
	color:#565D6D;
	border-bottom:2px solid #fff;
	font-size:1em !important;
}
.menu1 ul li.active a{
	border-bottom:2px solid #3B7CFF;
	color:#222;
}
.menu1 ul li a:hover{
	background: #3B7CFF;
	border-bottom:2px solid #3B7CFF;
	color: #fff;
	transition:0.2s;
}
.menu1 .logo{
	margin:20px auto;
	max-width:44px;
}
.menu1 .logo img{
	width:100%;
	height:auto;
}
.menu1 .logo img:hover{
	-moz-transform: rotate(90deg); /* Для Firefox */
	-ms-transform: rotate(90deg); /* Для IE */
	-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
	-o-transform: rotate(90deg); /* Для Opera */
	transform: rotate(90deg);
	transition:0.5s;
}
.menu1 .register a{
	display:inline-block;
	color:#666;
	font-weight:500;
	padding:10px;
	text-transform: uppercase;
	text-decoration:none;
}
.menu1 .register{
	border-left:1px solid #C4C4C4;
	margin:20px auto;
}
.menu1 .register a.register-btn{
	margin-right:15px;
}
.menu1 .register a.register-btn:hover{
	color:#3B7CFF;
}
.menu1 .register a.login{
	background: #3B7CFF;
	color:#fff;
	padding:10px 40px;
	border-radius: 3px;
	border:1px solid #3B7CFF;
}
.register-block{
	background: url('../img/adventure-asia-beautiful-347145.png') center center no-repeat;
	background-size:cover;
}
.register-block .login{
	background: #3B7CFF;
	color:#fff;
	padding:10% 4% 8%;
	margin:10% 0 7%;
	text-align:center;
}
.register-block .login h2{
	font-size:1.5em;
	font-weight:500;
	margin-bottom:2em;
}
.register-block .login p{
	color:#f0f0f0;
	font-size:0.9em;
}
.register-block .login .login-btn{
	display:inline-block;
	min-width:50%;
	cursor:pointer;
	padding:12px 16px;
	border:1px solid #fff;
	color:#fff;
	border-radius: 5px;
	margin:40px 0 0;
}
.register-block .login .login-btn:hover,.menu1 .register .login:hover,.register-form form input.send-btn:hover{
	background: #fff;
	color:#3B7CFF;
	transition:0.2s;
	border:1px solid #3B7CFF;
}
.register-block .register-form{
	margin:10% auto 7%;
	padding:10% 4% 8%;
	background: #fff;
	color:#333;
	text-align:center;
}
.register-block .register-form h2{
	font-size:1.5em;
}
.register-block .register-form p{
	font-size:0.9em;
	margin-bottom:20px;
}
.register-form h3{
	font-size:0.9em;
	color:#565D6D;
	margin-bottom:2em;
}
.register-form form{
	width:90%;
	margin:0 auto;
}
.register-form form input{
	display:block;
	margin-bottom:15px;
	padding:6px 6px 6px 26px;
	width:100%;
	color:#214497;
	border:none;
	border-bottom:1px solid #3B7CFF;
}
.register-form form input.send-btn{
	background:#3B7CFF;
	color:#fff;
	border:1px solid #3B7CFF;
	text-transform:uppercase;
	cursor:pointer;
	width:50%;
	padding:10px 15px;
	margin:40px auto 20px;
	border-radius: 5px;
}
.register-form form input.name{
	background: url('../img/avatar.png') left center no-repeat;
}
.register-form form input.password{
	background: url('../img/padlock.png') left center no-repeat;
}
.register-form form input.email{
	background: url('../img/envelope.png') left center no-repeat;
}
.first-screen{
	background: url('../img/calculator-clipboard-coffee-cup-1001763.png') center center no-repeat;
	background-size:cover;
}
.first-screen .logo{
	margin:45% auto;
	max-width:249px;
}
.business{
	text-align:center;
	padding:10% 0;
}
.for-you{
	padding:1% 0;
}
.about-us{

}
.business h2,.for-you h2,.about-us h2{
	margin:7% auto;
}
.business h2 span,.for-you h2 span,.about-us h2 span{
	color:#214497;
}
.business p,.for-you p,.about-us p{
	color:#565D6D;
	margin-bottom:30px;
}
.business a,.for-you a,.about-us a{
	display:inline-block;
	padding:7px 20px;
	width:42%;
	font-size:0.9em;
	text-align:center;
	text-decoration: none;
	font-weight:500;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #3B7CFF;
}
.business a:hover,.for-you a:hover,.about-us a:hover{
	text-decoration: none;
}
.business a.main-link,.for-you a.main-link,.about-us a.main-link{
	margin-right:8%;
	background: #3B7CFF;
	color:#fff;
}
.circles{
	width:1100px;
	height:1100px;
	text-align:center;
	margin: 0 auto;
}
.circles .c1{
	position:relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:100%;
	padding:24%;
	height:100%;
	background:#F6F9FF;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
}
.circles .c2{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	padding:10%;
	width:100%;
	height:100%;
	background:#EBF2FE;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
}
.circles .c3{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	padding:10%;
	width:100%;
	height:100%;
	background:#DEEAFC;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
}
.circles .c4{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	padding:10%;
	width:100%;
	height:100%;
	background:#D3E2FC;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
}
.circles .c5{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
	padding:10%;
	width:100%;
	height:100%;
	background:#CADEFC;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.1);
}
.circles .c5 .logo{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:100%;
	height:100%;
	padding:15%;
	background:#fff;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.2);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.2);
}
.circles .c1 .item{
	position:absolute;
	text-align:center;
	color:#565D6D;

}
.circles .c1 .item h4{
	font-size:1em;
}
.circles .c1 .item1{
	left:7%;
	top:27%;
}
.circles .c1 .item2{
	left:20%;
	top:10%;
}
.circles .c1 .item3{
	left:calc(50% - 75px);
	top:4%;
}
.circles .c1 .item4{
	right:20%;
	top:10%;
}
.circles .c1 .item5{
	right:7%;
	top:27%;
}
.circles .c1 .item .img{
	width:150px;
	margin:0 auto 10px;
	background:#fff;
	padding:23%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.15);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
}
.for-business{
	margin-top:-8%;
}
.for-business .business p,.for-business .for-you p{
	text-align:left;
}
.bg{
	padding:10% 0;
	background-size:cover;
	background:url('../img/bg-logo.png') left center no-repeat;
}
.feedback{
	height:600px;
	position:relative;
	background:url('../img/people.jpg') left center no-repeat;
}

.feedback-slide{
	width:420px;
	background: #FFFFFF;
	border:1px solid #f0f0f0;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.15);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:30px;
	font-size:0.9em;
	position:absolute;
	left:40%;
	top:15%;
}
.slick-arrow{
	width:40px;
	height:40px;
}
.feedback2{
	left:-30%;
}
.next-arrow{
	position:absolute;
	bottom:40px;
	right:30px;
}
.prev-arrow{
	position:absolute;
	bottom:40px;
	right: 80px;
	z-index:100;
}
.feedback-slide .item{
}
.feedback-slide .text{
	padding:50px 0 30px;
	background:url('../img/quote2.png') top left no-repeat;
	color:#565D6D;
	border-bottom:1px solid #f0f0f0;
}
.feedback-slide .item .author .name,.feedback-slide .item .author .position{
	display:block;
}
.feedback-slide .item .author .name{
	font-weight:bold;
}
.feedback-slide .item .author .company-logo{
	display:inline-block;
	width:60%;
	margin-top:20px;
}
.feedback-slide .item .author .company-logo img{
	width:auto;
}
.feedback-slide .item .author .next,.articles .item .read-more .next{
	display: inline-block;
	width:40px;
	float:right;
	margin-top:20px;
	height:40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background:#ABC6FC url('../img/vector.png') center center no-repeat ;
 }
.articles{
	padding:10% 0;
}
.articles .item{
	background: #FFFFFF;
	border:1px solid #f0f0f0;
	-webkit-box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
	-moz-box-shadow:0 10px 30px 1px rgba(0,0,0,0.15);
	box-shadow: 0 10px 30px 1px rgba(0,0,0,0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:30px;
	font-size:0.9em;
	color:#565D6D;
}
.articles .item .thumb{
	max-width:140px;
	margin:10px auto;
}
.articles .item .name{
	font-size:1.1em;
	font-weight:bold;
	margin:15px 0 5px;
 }
.articles .item .position{
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #f9f9f9;
}
.articles .item .read-more{
	text-align:right;
}
.articles .item .read-more span{
	display:inline-block;
	vertical-align: top;
	margin:10px 15px 0 0;
	text-decoration:none;
	text-transform: uppercase;
	font-weight:500;
}
.articles .item .read-more .next{
	float:none;
	margin-top:0;
}
.blue-bg{
	background:url('../img/blue-bg.jpg') center center no-repeat;
	background-size:cover;
	color:#fff;
	text-align:center;
	padding:10% 0 25%;
	position:relative;
}
.blue-bg a{
	display:inline-block;
	color:#fff;
	border:1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:8px 18px;
	margin:20px 10px;
	text-transform:uppercase;
	font-weight:500;
}
.blue-bg a.main-link{
	background:#fff;
	color:#214497;
}
.blue-bg .logo{
	width:228px;
	height:228px;
	background: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding:3%;
	top:calc(100% - 114px);
	left:calc(50% - 114px);
	position:absolute;
}
.bottom-bg{
	height:400px;
	background:url('../img/sky.jpg') center center no-repeat;
}
footer .topline{
	background:linear-gradient(to right, #202036, #1A3B8B);
	padding:5% 0;
}
footer .topline .footer_text{
	color:#f0f0f0;
	border-right:1px solid #3B7CFF;
	padding-right:15%;
}
footer .topline .footer_text h2{
	margin:0 0 30px;
}
footer .topline .footer_text .read-more{
	display:inline-block;
	background:#3B7CFF;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:10px 25px;
	text-transform:uppercase;
}
footer .topline h3{
	color:#ABC6FC;
	font-size:1.1em;
	font-weight:bold;
	margin:0 0 40px;
}
footer .topline ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
footer .topline ul li a{
	color:#ABC6FC;
}
footer .bottom-line{
	background:#051439;
	color:#ABC6FC;
	padding:20px 0 10px;
}
footer .topline .dropdown{
    display:none;
}